/*
порядок определения стилей:
позиционирование
блочная модель (размеры, отступы)
типографика (свойства шрифта)
оформление (цвет фона, тень)
анимация
*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 20px;
    }
}

/*HEADER*/
.header, .footer {
    background-color: rgb(132, 173, 124);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link, .github-link, .date {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 700;
    transition: color 0.5s;
}

.nav-link:hover, .github-link:hover {
    color: orange;
    text-decoration: underline;
}

/*MAIN*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: calc(50% - 20px);
    border-bottom: 1px solid rgb(17, 34, 13);
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section-profile {
        flex-direction: column;
        align-items: center;
    }
}

.section-title {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    border-bottom: 15px solid rgb(132, 173, 124);
    width: 100%;
}
.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(17, 34, 13);
}

.section-list {
    padding: 0;
}

.section-item {
    position: relative;
    padding-left: 30px;
    list-style-type: none;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #829985;
    border-radius: 50%;
}

.contact-link, .edu-link {
    color: rgb(132, 173, 124);
    text-decoration: none;
    transition: 0.5s;
}
.contact-link:hover, .edu-link:hover {
    color:rgb(17, 34, 13);
    text-decoration: underline;
}

.section-languages {
    border-bottom: none;
}

/*FOOTER*/
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url("../assets/svg/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}